
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  z-index: 1;
}
h1{
  margin: 0;
}

nav {
  position: fixed;
  background-color: black;
  margin-top: 70px; 
  width: 100%;
  left:0;
  padding-left:0px;
  margin-left: 0px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  background-color: #333;
}
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


    
        * {cursor: url('./cursor.cur'), auto !important; 
          font-family: 'VT323', monospace;
           }
    
        #cursor {
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            pointer-events: none; 
            z-index: 9999 !important;
      }


      body{
        background-image: linear-gradient(to top right, #FF8133, #FF9933);
        overflow-x: hidden;
      }

      .triangulo-eq-inf{
        position: relative;
        bottom:-8px;
        left:-15px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width:  0 0 80px 100vw;
        border-color: transparent transparent black transparent;
        overflow: hidden;
      }

      .triangulo-eq-sup{
        position: relative;
        top:-8px;
        left:-10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 80px 100vw 0 0px; /* Clockwise: top, right, bottom, left */
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-color: black transparent transparent transparent;
      }




#modal {
  position:relative;
  z-index: 10 !important;
  background-color: black;
  color: white;

}




.boton {
  align-items: center;
  background-color: black;
  border: 2px solid black;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



.boton:hover {
  background-color: white;
  border-color: white;
  fill: white;
  color:black
}

.boton:active {
    background-color: white;
    border-color: white;
    fill: white;
    color:orange;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}




select {
    background-color: white;
    color: black;
    width: 100px;
    height: 30px;
    padding: 3px;
    border-radius: 5px;
  }

  select option:hover {
    background-color: black;
    color: white;
  }